<section class="slideshow row">
    <div class="owl-carousel owl-theme" id="firstCarousel">
        <div>
            <div class="slideshow-text pull-left">
                <h1 class="slideshow-title">Grow Your Business</h1>
                <p class="slideshow-description">All-in-one Software. <br>Beautiful. Easy-to-use.</p>
                <button class="btn btn-success">Learn More</button>
            </div>
            <div class="slideshow-img">
                <img src="img/slide1.jpg" alt="First Slide">
                <div class="image-description">
                    <p>This picture was taken on the conference held between Malam Engineering and the other sister companies on merging these into one big amalgamated franchise.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="slideshow-text pull-left">
                <h1 class="slideshow-title">Grow Your Business</h1>
                <p class="slideshow-description">All-in-one Software. <br>Beautiful. Easy-to-use.</p>
                <button class="btn btn-success">Learn More</button>
            </div>
            <div class="slideshow-img">
                <img src="img/slide1.jpg" alt="First Slide">
            </div>
        </div>
        <div>
            <div class="slideshow-text pull-left">
                <h1 class="slideshow-title">Grow Your Business</h1>
                <p class="slideshow-description">All-in-one Software. <br>Beautiful. Easy-to-use.</p>
                <button class="btn btn-success">Learn More</button>
            </div>
            <div class="slideshow-img">
                <img src="img/slide1.jpg" alt="First Slide">
            </div>
        </div>
    </div>
    <div class="slideshow-navigation">
        <span class="slide-prev btn btn-info" id="prev-first" title="Go to the previous slide"><i class="fa fa-arrow-left"></i></span>
        <span class="slide-next btn btn-info" id="next-first" Go to the next slide"><i class="fa fa-arrow-right"></i></span>
    </div>
</section>
<section id="testimony">
    <div class="testimony-picture col-md-4">
        <img src="img/testimony.jpg" alt="" class="img-circle pull-right" width="200">
    </div>
    <div class="testimony-text col-md-8">
        <blockquote>
            <i class="fa fa-quote-left"></i> We were served with the best services when we came to Malam. Before that life was really hard. <i class="fa fa-quote-right"></i>
        </blockquote>
        <small>
            <strong><span>Tiger the Habesha</span></strong><br>
            Our First and Foremost Client
        </small>
    </div>
</section>
<section id="services">
    <div class="services-text text-center">
        <h1 class="heading">Grow your sales<br>and boost your productivity.</h1>
        <h4>The integrated solution that grows with you.</h4>
        <a href="#" class="btn btn-success">Start your Free Trial</a>
    </div>
</section>
<section id="features" class="row">
    <div class="col-md-12">
        <div class="col-md-offset-2 col-md-6">
            <h1 class="features-heading">TOP FIVE REASONS TO WORK WITH MALAM</h1>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="#collapseOne" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-pencil btn btn-warning"></i> Template Builder
                                <i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-mobile-phone btn btn-warning"></i> Mobile and Retina Ready
                                <i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a href="#collapseThree" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-th-list btn btn-warning"></i> Product Showcase &amp; Portfolio Features
                                <i class="fa fa-plus pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="news">
            <h1 class="features-heading">LATEST NEWS
                        <span class="pull-right">
                            <i class="fa fa-arrow-left slide-prev" id="prev-second"></i>
                            <i class="fa fa-arrow-right slide-next nav-second" id="next-second"></i>
                        </span>
            </h1>
            <div class="owl-carousel owl-theme" id="secondCarousel">
                <div class="slide">
                    <img src="img/news-1.jpg" alt="">
                    <div class="slide-news-description">
                        <h4>Post with Left Sidebar</h4>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus qu...</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="img/news-2.jpg" alt="">
                    <div class="slide-news-description">
                        <h4>Post with Left Sidebar</h4>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus qu...</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="img/news-3.jpg" alt="">
                    <div class="slide-news-description">
                        <h4>Post with Left Sidebar</h4>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus qu...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="counters" class="row">
    <div class="col-md-12">
        <div class="col-md-3 text-center">
            <button class="btn-circle btn-xl btn-success">25</button>
            <a href="#" class="center-block">Projects</a>
        </div>
        <div class="col-md-3 text-center">
            <button class="btn-circle btn-xl btn-danger">45</button>
            <a href="#" class="center-block">Awards</a>
        </div>
        <div class="col-md-3 text-center">
            <button class="btn-circle btn-xl btn-primary">1234</button>
            <a href="#" class="center-block">Followers</a>
        </div>
        <div class="col-md-3 text-center">
            <button class="btn-circle btn-xl btn-warning">3</button>
            <a href="#" class="center-block">Clients</a>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        var slide1 = $('.owl-carousel#firstCarousel');
        var slide2 = $('.owl-carousel#secondCarousel');
        slide1.owlCarousel({
            items: 1,
            loop: true
        });
        slide2.owlCarousel({ items: 1, loop: true });
        $('.slide-prev#prev-first').on('click', function() {
            slide1.trigger('prev.owl.carousel');
        });
        $('.slide-next#next-first').on('click', function() {
            slide1.trigger('next.owl.carousel');
        });
        $('.slide-prev#prev-second').on('click', function() {
            slide2.trigger('prev.owl.carousel');
        });
        $('.slide-next#next-second').on('click', function() {
            slide2.trigger('next.owl.carousel');
        })
    });
</script>
