<div class="row blog">
    <div class="cover col-md-12">
        <img src="img/map.png" alt=""/>
    </div>
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-6" id="main-content">
            <div class="content" ng-controller="ContactController" id="contact-form">
                <h3>Reach Us</h3>
                <form ng-sumbit="submitForm()">
                    <div class="form-group">
                        <label for="full_name"></label>
                        <input type="text" class="form-control" id="full_name" name="full_name" ng-model="user.full_name" placeholder="Full Name" />
                    </div>
                    <div class="form-group">
                        <label for="full_name"></label>
                        <input type="text" class="form-control" id="email" name="full_name" ng-model="user.full_name" placeholder="Email Address" />
                        <small class="help-block">We promise not to spam you</small>
                    </div>
                    <div class="form-group">
                        <label for="full_name"></label>
                        <textarea class="form-control" id="message" name="full_name" ng-model="user.full_name" placeholder="Messages"></textarea>
                    </div>
                    <div class="btn btn-success">Send</div>
                </form>
            </div>
        </div>
        <div class="col-md-5" id="right">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#/where"><i class="fa fa-calendar"></i> Working Hours</a>
                </li>
                <li><a href="#/where#appointmentPickerDiv" role="button" data-toggle="collapse" aria-expanded="false"><i class="fa fa-apple"></i> Setup an appointment</a></li>
                <div style="overflow: hidden;" class="collapse" id="appointmentPickerDiv">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="appointmentPicker"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <li><a href="#/where"><i class="fa fa-skype"></i> Skype</a></li>
                <li><a href="#/where"><i class="fa fa-phone"></i> Phone Number</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
<script>
    $(function() {
        $('#appointmentPicker').datetimepicker({
            inline: true,
            sideBySide: true
        })
    });
</script>
