<div class="container">
    <nav class="hidden-xs">
        <ul class="nav" id="timeline-nav">
            <li class="active"><a href="Overview">2013</a></li>
            <li><a href="Overview">2014</a></li>
            <li><a href="Overview">2015</a></li>
            <li><a href="Overview">2016</a></li>
        </ul>
    </nav>
    <div class="page-header">
        <h1 id="timeline">About MALAM</h1>
    </div>
    <ul class="timeline">
        <li><div class="timeline-date">2008</div></li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-check"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Starting out</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> How it all began</small></p>
                </div>
                <div class="timeline-body">
                    <p>Malam Engineering PLC is a legally registered company in Ethiopia established since 2008 G.C. Before it got the name Malam Engineering and before it was changed into Private Limited Company (PLC), it was known by the name of Aklilu Computer Systems Design and proprietary company. Now, starting from 2013, the company's name is changed into its current name "Malam Engineering PLC".</p>
                    <img src="img/news-1.jpg" alt="">
                </div>
            </div>
        </li>
        <li><div class="timeline-date">Founders</div></li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Expertise</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Founders and their expertise</small></p>
                </div>
                <div class="timeline-body">
                    <p>Highly experienced professionals founded Malam Engineering PLC with many professional level accreditations in the industry. In addition to the expertise of the founders, Malam Engineering believes in win-win partnership with vendors, distributors, customers and other stake holders to achieve its mission. Malam is closely working with many information and communication technology experts, Electrical Systems Design and Installation professionals and individual level and companies in the country. The areas of these experts include, but not limited to, Electrical Systems Design and Installation, Software Development, Security Solutions, Network infrastructure, Website Development, Data center facilities, Operating Systems, Anti-virus solutions, Enterprise Services, and Logistics Services.</p>
                </div>
            </div>
        </li>
        <li><div class="timeline-date">MVC</div></li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-credit-card"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Mission</h4>
                </div>
                <div class="timeline-body">
                    <p>To provide quality, timely and efficient ICT and Electrical Systems and solutions to help our clients improve efficiency and business profitablity.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge danger"><i class="fa fa-credit-card"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Vision</h4>
                </div>
                <div class="timeline-body">
                    <p>To be a reliable and competent ICT and Electrical Systems Solutions provider in Ethiopia in year 2020.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-credit-card"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Core Values</h4>
                </div>
                <div class="timeline-body">
                    <ul>
                        <li>Timeliness</li>
                        <li>Integerity</li>
                        <li>Customer Focus</li>
                        <li>Making a positive difference in the ICT world</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>